.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.App-title {
    font-size: 26px;
}

.reminder-form {
    padding: 5px;
}

.reminder-form input {
    margin: 5px;
}


.edit {
    margin-bottom: 5px;
    margin-right: 3px;
}

.list-item-text {
    margin-left: 5px;
}

.list-item-text-done {
    margin-left: 5px;
    text-decoration: line-through;
}

.list-item-input {
    margin-left: 5px;
}

.list-item-time-nonEditingMode {
    margin-left: 30px;
    font-size: 85%;
    opacity: 0.5;
    font-style: italic;
}

.list-item-time-editingMode {
    margin-left: 5px;
    font-size: 85%;
    opacity: 0.5;
    font-style: italic;
}


/* default case when isEditing is set to false */
.toggle-show {
    
}

/* done icon is hidden when reminder text is in editable mode */
.toggle-hidden {
    display: none;
}

.clear-done-button {
    margin-left: 5px;
}

.reminders-number {
    opacity: 0.5;
    font-style:bold;
    margin-right: 445px;
}

.reminders-number:hover {
    opacity: 1;
}

.filter-dropdown {
    color: black;
    opacity: 0.6;
    margin-left: 200px;
}

.filter-group {
    display: flex;
    justify-content: space-between;
}
